.nav-stack {
  height: 40px;
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  /*
		Theming the navbar
	*/
}
.nav-stack:before,
.nav-stack:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.nav-stack:after {
  clear: both;
}
.nav-stack input,
.nav-stack button {
  display: block;
}
.nav-stack > .nav-6 {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-3 {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-4 {
  position: relative;
  float: left;
  width: 33.33333333333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-8 {
  position: relative;
  float: left;
  width: 66.66666666666666%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-6,
.nav-stack > .nav-3,
.nav-stack > .nav-8,
.nav-stack > .nav-4,
.nav-stack.full {
  height: 40px;
  line-height: 40px;
}
.nav-stack .nav-stack-input {
  border: 0;
  height: 40px;
  line-height: 20px;
  margin: 0 0;
  padding: 10px 10px;
  display: block;
  width: 100%;
}
.nav-stack .nav-stack-light-grey .nav-stack-input:hover {
  background-color: #808080;
}
.nav-stack.nav-stack-grey .nav-stack-input:hover {
  background-color: #666666;
}
.nav-stack.nav-stack-black .nav-stack-input:hover {
  background-color: #4d4d4d;
}
.nav-stack .nav-stack-select {
  border: 0;
  height: 40px;
  line-height: 20px;
  margin: 0 0;
  padding: 10px 10px;
  display: block;
  width: 100%;
  padding: 10px 0;
  line-height: 20px!important;
}
.nav-stack .nav-stack-select option {
  line-height: 20px!important;
}
.nav-stack.nav-stack-border-top {
  border-top: 1px solid #e6e6e6;
}
.nav-stack.nav-stack-black * {
  background-color: #333333;
  color: #ffffff;
}
.nav-stack.nav-stack-black .dropdown-menu {
  background-color: #333333;
  border-color: #333333;
}
.nav-stack.nav-stack-black .dropdown-menu a {
  color: #ffffff;
}
.nav-stack.nav-stack-black .dropdown-menu a:hover {
  color: #333333;
}
.nav-stack.nav-stack-grey * {
  background-color: #4d4d4d;
  color: #ffffff;
}
.nav-stack.nav-stack-grey .dropdown-menu {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}
.nav-stack.nav-stack-grey .dropdown-menu a {
  color: #ffffff;
}
.nav-stack.nav-stack-grey .dropdown-menu a:hover {
  color: #333333;
}
.nav-stack.nav-stack-light-grey * {
  background-color: #666666;
  color: #ffffff;
}
.nav-stack.nav-stack-light-grey .dropdown-menu {
  background-color: #666666;
  border-color: #666666;
}
.nav-stack.nav-stack-light-grey .dropdown-menu a {
  color: #ffffff;
}
.nav-stack.nav-stack-light-grey .dropdown-menu a:hover {
  color: #333333;
}
.nav-stack a:hover,
.nav-stack a:focus,
.nav-stack a {
  text-decoration: none!important;
}
@media (min-width: 480px) and (max-width: 992px) {
  .nav-stack .dropdown-menu {
    border: 0;
    padding: 0;
    position: static;
    z-index: auto;
    float: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-stack .dropdown-menu > li {
    display: block;
    width: 100%;
  }
  .nav-stack .dropdown-menu > li > a {
    display: block;
    width: 100%;
    cursor: pointer;
  }
}
#lemma-sidebar {
  border-radius: 0;
  padding: 4px;
  /* Sidebars */
  /*
	.sidebar-category-form {
		&.popover-category-lemmas {
			display:block;
		}
	}
*/
  /* Votes and anchors */
}
#lemma-sidebar .sidebar-category {
  border-top: 1px solid white;
}
#lemma-sidebar .sidebar-category:first-child {
  border-top: 0px solid white;
}
#lemma-sidebar .sidebar-category .sidebar-category-title {
  background-color: #333333;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
}
#lemma-sidebar .sidebar-category .sidebar-category-title:hover {
  text-decoration: none;
}
#lemma-sidebar .sidebar-category .sidebar-category-content {
  /* ??? */
  display: none;
}
#lemma-sidebar .sidebar-category #forms-lemma {
  display: block;
}
#lemma-sidebar .annotation-vote {
  text-align: center;
}
#lemma-sidebar .annotation-vote a,
#lemma-sidebar .annotation-vote a:hover,
#lemma-sidebar .annotation-vote a:focus,
#lemma-sidebar .annotation-vote a:visited {
  color: white;
}
#lemma-sidebar a.lemma {
  color: white;
}
#lemma-sidebar a.thumbs-up,
#lemma-sidebar a.thumbs-down,
#lemma-sidebar a.annotations-thumbs-up,
#lemma-sidebar a.annotations-thumbs-down {
  display: inline!important;
}
#lemma-sidebar a.thumbs-up:after,
#lemma-sidebar a.thumbs-down:after,
#lemma-sidebar a.annotations-thumbs-up:after,
#lemma-sidebar a.annotations-thumbs-down:after {
  content: " ";
}
#lemma-sidebar .active a.lemma {
  text-decoration: underline;
  font-weight: bold;
}
.sentence-lemma {
  cursor: pointer;
}
.sentence-lemma.red {
  color: red;
}
.sentence-lemma.orange {
  color: orange;
}
.sentence-lemma.green {
  color: green;
}
.sentence-lemma.neutral {
  color: black;
}
.thumbs-up,
.thumbs-down {
  font-weight: bold;
}
.thumbs-up {
  color: #00FF00;
}
.thumbs-down {
  color: white;
}
.sentence-list li {
  height: 16px;
  line-height: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sentence-list li:before {
  content: " - ";
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
.sentence-stack .sentence-author {
  cursor: pointer;
}
.sentence-stack .sentence-book,
.sentence-stack .sentence-list {
  display: none;
  cursor: pointer;
}
.sentence-stack .sentence-book {
  margin-left: 1em;
}
body {
  background-color: #ecedee;
  font-family: "news-gothic-std", sans-serif;
}
body > .container {
  background-color: #ffffff;
}
.login-link {
  display: block;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 25px;
}
.login-link a {
  color: white;
}
#main article {
  background-color: #ffffff;
  padding: 0px;
}
#main article header {
  margin-top: 0;
  padding-top: 0;
  margin: 0 -15px 10px -15px;
}
#main article header .breadcrumb {
  background-color: #333333;
  border-radius: 0;
}
#main article header .breadcrumb li + li:before {
  content: " › ";
}
#main article header .breadcrumb li.active {
  color: white;
}
#main article header .breadcrumb a,
#main article header .breadcrumb a:hover,
#main article header .breadcrumb a:focus {
  color: #999999;
  text-decoration: none;
}
#main article header .breadcrumb.documentaryUnit {
  background-color: #2980b9;
  color: white;
}
#main article header .breadcrumb.repository {
  background-color: #16a085;
  color: white;
}
#main article header .breadcrumb.virtualCollection {
  background-color: #c0392b;
  color: white;
}
#main article header .breadcrumb.historicalAgent {
  background-color: #f39c12;
  color: white;
}
#main article > section .person-item h2 {
  background-image: url(../images/test-data/default.jpg);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-position: center center;
  height: 80px;
  margin: 0;
  padding: 0;
  text-align: right;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-right: 5px;
  padding-bottom: 5px;
  line-height: 145px;
  text-shadow: 0.1em 0.1em 0.2em black;
  display: none;
}
#main article > section .person-item .person-desc {
  display: none;
  font-size: 0.7em;
  color: #999999;
  padding: 5px;
  text-align: justify;
  border: 1px solid #999999;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#main article > section .person-item .person-desc dl {
  text-align: right;
}
#main article > section .person-item .preview-closer {
  display: none;
}
#main article > section .person-item.in {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  position: relative;
}
#main article > section .person-item.in > h2,
#main article > section .person-item.in .person-desc {
  display: block;
}
#main article > section .person-item.in:hover .preview-closer {
  display: block;
  float: left;
  padding: 5px;
}
#main article > section .person-item.in:hover .preview-closer .close {
  float: none;
}
#main article footer {
  clear: both;
  min-height: 20px;
  text-align: center;
}
#main article footer .pagination {
  background-color: #333333;
}
#main article footer .pagination li {
  background-color: #333333;
}
#main article footer .pagination li a {
  background-color: #333333;
  border: none;
  color: #ffffff;
}
#main article footer .pagination li a:hover {
  font-weight: bold;
}
#main .form-noborder {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
#main .list-item {
  margin: 0;
  padding: 0;
}
#main .list-item .item-wrapper {
  margin: 0 0 1em 0;
  padding: 0;
  display: block;
  position: relative;
}
#main .list-item .item-wrapper .item-option {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: -30px;
  height: 30px;
  width: 0;
  overflow: hidden;
  background-color: #360f4f;
  color: white;
  line-height: 30px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main .list-item .item-wrapper:hover > .item-option,
#main .list-item .item-wrapper.checked > .item-option {
  width: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main .list-item .item-wrapper .item-title {
  display: block;
  min-height: 30px;
  line-height: 30px;
  font-weight: bolder;
  padding-left: 1em;
  border-left: 5px solid #360f4f;
}
#main .list-item .item-wrapper .item-title.keyword-title {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
#main .list-item .item-wrapper .item-title.keyword-title .item-parent {
  color: #999999;
}
#main .list-item .item-wrapper .item-title.keyword-title .item-parent:after {
  content: " › ";
  opacity: 0.7;
}
#main .list-item .item-wrapper .item-checkbox {
  display: none;
}
#main .list-item .item-wrapper .item-description {
  display: none;
  font-style: italic;
  padding-left: 1em;
  border-left: 5px solid #711fa5;
  min-height: 0;
  max-height: 0;
  text-align: justify;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main .list-item .item-wrapper .item-description.in {
  display: block;
  min-height: 30px;
  max-height: 2000px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main .list-item .item-wrapper.documentaryUnit .item-title {
  border-color: #2980b9;
}
#main .list-item .item-wrapper.documentaryUnit .item-description {
  border-color: #6ab0de;
}
#main .list-item .item-wrapper.documentaryUnit .item-option {
  background-color: #2980b9;
  color: white;
}
#main .list-item .item-wrapper.repository .item-title {
  border-color: #16a085;
}
#main .list-item .item-wrapper.repository .item-description {
  border-color: #38e4c2;
}
#main .list-item .item-wrapper.repository .item-option {
  background-color: #16a085;
  color: white;
}
#main .list-item .item-wrapper.virtualCollection .item-title {
  border-color: #c0392b;
}
#main .list-item .item-wrapper.virtualCollection .item-description {
  border-color: #df7c72;
}
#main .list-item .item-wrapper.virtualCollection .item-option {
  background-color: #c0392b;
  color: white;
}
#main .list-item .item-wrapper.historicalAgent .item-title {
  border-color: #f39c12;
}
#main .list-item .item-wrapper.historicalAgent .item-description {
  border-color: #f8c573;
}
#main .list-item .item-wrapper.historicalAgent .item-option {
  background-color: #f39c12;
  color: white;
}
#main .list-item .list-item {
  padding-top: 1em;
}
#main .list-item.hierarchy .list-item {
  margin-left: 20px;
  border-left: 2px solid #ffffff;
}
#main .list-item.hierarchy .list-item:hover {
  border-left: 2px dashed #711fa5;
}
#main .list-item.hierarchy .list-item .item-wrapper {
  margin: 0;
}
#main .list-item.hierarchy .list-item .item-wrapper > .item-title {
  border-left: none!important;
}
#main .list-item.hierarchy .item-parent {
  display: none;
}
#main #description-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: justify;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: hidden;
}
#main .in > #description-hover {
  height: 100%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  overflow: auto;
  padding: 10px;
}
header#top {
  padding-top: 30px;
  background-color: #333333;
}
header#top .top-menu {
  margin-bottom: 30px;
}
header#top li {
  border-right: 0!important;
}
header#top form {
  margin-top: 40px;
}
#right-bar #carousel .carousel-inner {
  border-radius: 5px;
}
#right-bar #carousel .left {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#right-bar #carousel .right {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
#right-bar .well {
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#right-bar .well article header h1 {
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  margin: 0;
  padding: 0;
}
#right-bar .well article section {
  text-align: justify;
}
#right-bar .well .nav li > a {
  color: #333333;
  font-weight: bold;
  font-variant: small-caps;
}
#right-bar .well .nav li > a:hover {
  background-color: #ecedee;
}
#right-bar hr {
  opacity: 0;
}
@media (min-width: 480px) and (max-width: 992px) {
  #top {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #top:after,
  #top:before {
    display: table;
    content: " ";
    clear: both;
  }
  #top:after:before,
  #top:before:before,
  #top:after:after,
  #top:before:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  #top:after:after,
  #top:before:after {
    clear: both;
  }
  #top .dropdown-toggle {
    display: none!important;
    clear: both;
  }
  #top .dropdown-menu {
    position: static;
    z-index: auto;
    display: block;
    float: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #top .dropdown-menu > li {
    display: block;
    width: 100%;
  }
  #top .dropdown-menu > li > a {
    display: block;
    width: 100%;
    cursor: pointer;
  }
  #main article header {
    margin: 0 0px 10px 0px ;
  }
  #main .btn-group.pull-right,
  #main .form-group.pull-right {
    float: none!important;
  }
  #main #slider-range {
    display: none;
  }
  #main .form-noborder {
    border: 1px solid #360f4f;
  }
  #main .min-show:before,
  #main .max-show:before {
    content: attr(placeholder) " ";
    color: #360f4f;
    background-color: #360f4f;
    margin-right: 5px;
    display: block;
  }
  #main .list-item .item-wrapper .item-title {
    padding-left: 40px;
  }
  #main .list-item .item-wrapper .item-option {
    width: 30px;
    left: 0;
  }
}
