*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.nav-stack {
  height: 40px;
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  /*
		Theming the navbar
	*/
}
.nav-stack:before,
.nav-stack:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.nav-stack:after {
  clear: both;
}
.nav-stack input,
.nav-stack button {
  display: block;
}
.nav-stack > .nav-6 {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-3 {
  position: relative;
  float: left;
  width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-4 {
  position: relative;
  float: left;
  width: 33.33333333333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-8 {
  position: relative;
  float: left;
  width: 66.66666666666666%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-2 {
  position: relative;
  float: left;
  width: 16.666666666666664%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-5 {
  position: relative;
  float: left;
  width: 41.66666666666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-stack > .nav-6,
.nav-stack > .nav-3,
.nav-stack > .nav-8,
.nav-stack > .nav-4,
.nav-stack.full {
  height: 40px;
  line-height: 40px;
}
.nav-stack .nav-stack-input {
  border: 0;
  height: 40px;
  line-height: 20px;
  margin: 0 0;
  padding: 10px 10px;
  display: block;
  width: 100%;
}
.nav-stack .nav-stack-light-grey .nav-stack-input:hover {
  background-color: #808080;
}
.nav-stack.nav-stack-grey .nav-stack-input:hover {
  background-color: #666666;
}
.nav-stack.nav-stack-black .nav-stack-input:hover {
  background-color: #4d4d4d;
}
.nav-stack .nav-stack-select {
  border: 0;
  height: 40px;
  line-height: 20px;
  margin: 0 0;
  padding: 10px 10px;
  display: block;
  width: 100%;
  padding: 10px 0;
  line-height: 20px!important;
}
.nav-stack .nav-stack-select option {
  line-height: 20px!important;
}
.nav-stack.nav-stack-border-top {
  border-top: 1px solid #e6e6e6;
}
.nav-stack.nav-stack-black * {
  background-color: #333333;
  color: #ffffff;
}
.nav-stack.nav-stack-black .dropdown-menu {
  background-color: #333333;
  border-color: #333333;
}
.nav-stack.nav-stack-black .dropdown-menu a {
  color: #ffffff;
}
.nav-stack.nav-stack-black .dropdown-menu a:hover {
  color: #333333;
}
.nav-stack.nav-stack-grey * {
  background-color: #4d4d4d;
  color: #ffffff;
}
.nav-stack.nav-stack-grey .dropdown-menu {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}
.nav-stack.nav-stack-grey .dropdown-menu a {
  color: #ffffff;
}
.nav-stack.nav-stack-grey .dropdown-menu a:hover {
  color: #333333;
}
.nav-stack.nav-stack-light-grey * {
  background-color: #666666;
  color: #ffffff;
}
.nav-stack.nav-stack-light-grey .dropdown-menu {
  background-color: #666666;
  border-color: #666666;
}
.nav-stack.nav-stack-light-grey .dropdown-menu a {
  color: #ffffff;
}
.nav-stack.nav-stack-light-grey .dropdown-menu a:hover {
  color: #333333;
}
.nav-stack a:hover,
.nav-stack a:focus,
.nav-stack a {
  text-decoration: none!important;
}
@media (min-width: 480px) and (max-width: 992px) {
  .nav-stack .dropdown-menu {
    border: 0;
    padding: 0;
    position: static;
    z-index: auto;
    float: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .nav-stack .dropdown-menu > li {
    display: block;
    width: 100%;
  }
  .nav-stack .dropdown-menu > li > a {
    display: block;
    width: 100%;
    cursor: pointer;
  }
}
#sidebar {
  border-radius: 0;
  padding: 4px;
  /* Sidebars */
  /*
	.sidebar-category-form {
		&.popover-category-lemmas {
			display:block;
		}
	}
*/
  /* Votes and anchors */
}
#sidebar .sidebar-category {
  border-top: 1px solid white;
}
#sidebar .sidebar-category:first-child {
  border-top: 0px solid white;
}
#sidebar .sidebar-category .sidebar-category-title {
  background-color: #333333;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
}
#sidebar .sidebar-category .sidebar-category-title:hover {
  text-decoration: none;
}
#sidebar .sidebar-category .sidebar-category-content {
  /* ??? */
  display: none;
}
#sidebar .sidebar-category #forms-lemma {
  display: block;
}
#sidebar .annotation-vote {
  text-align: center;
}
#sidebar .annotation-vote a,
#sidebar .annotation-vote a:hover,
#sidebar .annotation-vote a:focus,
#sidebar .annotation-vote a:visited {
  color: white;
}
#sidebar a.lemma {
  color: white;
}
#sidebar a.thumbs-up,
#sidebar a.thumbs-down,
#sidebar a.annotations-thumbs-up,
#sidebar a.annotations-thumbs-down {
  display: inline!important;
}
#sidebar a.thumbs-up:after,
#sidebar a.thumbs-down:after,
#sidebar a.annotations-thumbs-up:after,
#sidebar a.annotations-thumbs-down:after {
  content: " ";
}
#sidebar .active a.lemma {
  text-decoration: underline;
  font-weight: bold;
}
.sentence-lemma {
  cursor: pointer;
}
.sentence-lemma.red {
  color: red;
}
.sentence-lemma.orange {
  color: orange;
}
.sentence-lemma.green {
  color: green;
}
.sentence-lemma.neutral {
  color: black;
}
.thumbs-up,
.thumbs-down {
  font-weight: bold;
}
.thumbs-up {
  color: #00FF00;
}
.thumbs-down {
  color: white;
}
.sentence-list li {
  height: 16px;
  line-height: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sentence-list li:before {
  content: " - ";
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
.sentence-stack .sentence-author {
  cursor: pointer;
}
.sentence-stack .sentence-book,
.sentence-stack .sentence-list {
  display: none;
  cursor: pointer;
}
.sentence-stack .sentence-book {
  margin-left: 1em;
}
.gamification .image-container {
  width: 50px;
  height: 50px;
}
.gamification .image-container img {
  border-radius: 50%;
  display: block;
  max-width: 100%;
  height: auto;
  width: 50px;
  height: 50px;
}
body {
  background-color: #ecedee;
  font-family: 'Gafata', sans-serif;
}
body #main {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.64);
  box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.64);
}
body.home #main {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body > .container {
  background-color: #ffffff;
}
#main {
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#main .background-like {
  text-align: center;
  display: block;
  background-color: #ecedee;
  padding: 5px 0;
  margin: 0 -15px;
  z-index: 1;
  position: relative;
}
#main .shadow-content {
  display: block;
  background-color: #ffffff;
  padding: 5px 0;
  margin: 0 -15px;
  -webkit-box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.64);
  box-shadow: 0px 6px 15px 0px rgba(50, 50, 50, 0.64);
  position: relative;
  z-index: 2;
}
#main .shadow-content .img-circle {
  height: 150px;
  width: 150px;
}
#main .shadow-content .caption h3 {
  text-align: center;
  margin-top: 0;
}
#main .shadow-content p {
  padding: 0 15px;
}
#page-title {
  background-color: #360f4f;
}
#page-title .badges {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 60px;
}
@media (min-width: 992px) {
  #page-title .badges {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #page-title .badges {
    right: 50%;
  }
}
#page-title .account {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
@media (min-width: 992px) {
  #page-title .account {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  #page-title .account {
    left: 50%;
  }
}
#page-title .login-link {
  display: block;
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  height: 60px;
}
#page-title .login-link table.gamification {
  height: 100%;
  margin-left: 30px;
}
#page-title .login-link table.gamification td {
  padding-right: 5px;
}
#page-title .login-link > a {
  line-height: 60px;
  color: white;
}
#page-title .login-link > a:hover {
  text-decoration: none;
}
#page-title .login-link > a:after {
  content: " | ";
}
#page-title .login-link > a:last-child:after,
#page-title .login-link > a:nth-child(3):after {
  content: "" !important;
}
#page-title .badges > .shortcuts {
  color: white;
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 20px;
  height: 20px;
  line-height: 20px;
  margin-top: 20px;
}
#page-title .badges > .shortcuts > a {
  color: white;
}
#page-title .badges > .shortcuts > a:hover {
  text-decoration: none;
}
#page-title .badges > .shortcuts > a:after {
  content: " | ";
}
#page-title .badges > .shortcuts > a:last-child:after {
  content: "" !important;
}
header#top {
  padding-top: 5px;
  background-color: #333333;
}
header#top .top-menu {
  margin-bottom: 5px;
}
header#top li {
  border-right: 0!important;
}
header#top li a {
  color: white;
  text-decoration: none;
  border-radius: 0;
}
header#top li a:hover {
  background-color: #333333;
}
header#top form {
  margin-top: 40px;
}
