.sentence-lemma {
	&.red {
		color:red;
	}
	&.orange {
		color:orange;
	}
	&.green {
		color:green;
	}
}
.thumbs-up, .thumbs-down { font-weight:bold; }
.thumbs-up {
	color:#00FF00;
}
.thumbs-down {
	color:white;
}